<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Create Homepage Description</h1>
    <div class="create-blog content">
      <form>
        <label for="body">Homepage Description: </label>
        <p></p>
        <textarea id="body" name="body" required></textarea>
        <p></p>
        <button>Submit</button>
      </form>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
