<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/transaksi.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="/images/logo.png" />

    <title>My Laundry | <%= title %></title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include("../partials/nav.ejs") %>

    <!-- Awal Back-->
    <div class="previous" style="padding-top: 6rem">
      <a href="/transaction" class="kembali text-white ml-5">&#8249; BACK</a>
    </div>
    <!--Akhir Back-->

    <!-- Awal Form-->
    <div class="container pt-5">
      <h1 class="text-center mb-5">Input Transaction</h1>
      <form action="/transaction/add" method="post">
        <div class="row">
          <div class="col-lg-6 mt-3">
            <label for="Nama" class="form-label">Nama :</label>
            <input
              type="text"
              class="form-control"
              placeholder="Masukkan nama pelanggan"
              name="name"
            />
          </div>

          <div class="col-lg-6 mt-3">
            <label for="Paket" class="form-label">Paket :</label>
            <select
              class="form-select"
              name="paket"
              id="paket"
              onchange="checkOptgroupSelected(), getPaketVal(value), countHarga()"
            >
              <option selected hidden>Pilih Paket</option>
              <optgroup label="Kiloan">
                <option>Cuci Basah</option>
                <option>Cuci Kering</option>
                <option>Cuci Kering Lipat</option>
                <option>Cuci Kering Setrika</option>
                <option>Setrika</option>
              </optgroup>
              <optgroup label="Satuan">
                <option>Gorden Tipis</option>
                <option>Gorden Tebal</option>
                <option>Selimut</option>
                <option>Bed Cover</option>
                <option>Jas</option>
              </optgroup>
            </select>
          </div>
          <div class="col-lg-6 mt-3">
            <label for="Paket" class="form-label">Durasi :</label>
            <select
              class="form-select"
              name="durasi"
              onchange="checkDurasi(value), getDurasiVal(value), countHarga()"
            >
              <option selected hidden>Pilih Durasi</option>
              <option>6 jam</option>
              <option>1 hari</option>
              <option>2 hari</option>
            </select>
          </div>
          <div class="col-lg-6 mt-3" id="divBerat">
            <label for="Berat" class="form-label">Berat :</label>
            <input
              type="text"
              class="form-control"
              placeholder="10 kg"
              name="berat"
              onchange="getBeratVal(value), countHarga()"
            />
          </div>

          <div class="col-lg-6 mt-3" id="divMeter" style="display: none">
            <label for="MeterOrBuah" class="form-label">Meter/Buah :</label>
            <input
              type="text"
              class="form-control"
              placeholder="1 meter/1 buah"
              name="meterOrbuah"
              onchange="getMeterOrBuahVal(value), countHarga()"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="Waktu Pesan" class="form-label">Waktu Pesan :</label>
            <input type="text" class="form-control" name="waktuPesan" />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="Tanggal Pesan" class="form-label"
              >Tanggal Pesan :</label
            >
            <input type="text" class="form-control" name="tglPesan" />
          </div>

          <div class="col-lg-6 mt-3">
            <label for="Waktu Pengambilan" class="form-label"
              >Waktu Pengambilan :</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="10:00"
              name="waktuPengambilan"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="Tanggal Pengambilan" class="form-label"
              >Tanggal Pengambilan :</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="dd/mm/yyyy"
              name="tglPengambilan"
            />
          </div>
          <div class="col-lg-6 pb-5 mt-3 mb-5">
            <label for="Harga" class="form-label">Harga :</label>
            <input
              type="text"
              class="form-control"
              placeholder="Rp. "
              name="harga"
            />
          </div>
          <div class="col-lg-3"></div>
          <div class="col-lg-3 d-grid pt-3 pb-5 mt-2 mb-5">
            <button type="submit" class="btn btn-info text-white mt-4">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- Akhir Form-->
    <%- include("../partials/footer.ejs") %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      let durasiVal,
        paketVal,
        beratval,
        meterOrbuahVal = "";

      //Get durasi value
      getDurasiVal = (value) => {
        durasiVal = value;
      };

      //Get pakel value
      getPaketVal = (value) => {
        paketVal = value;
      };

      //Get berat value
      getBeratVal = (value) => {
        beratval = value;
      };

      //Get meter or buah value
      getMeterOrBuahVal = (value) => {
        meterOrbuahVal = value;
      };

      //Get date now
      const dateNow = new Date();
      const dateFormat =
        dateNow.getDate() +
        "/" +
        (dateNow.getMonth() + 1) +
        "/" +
        dateNow.getFullYear();

      const currentDate = dateNow.getDate();
      const currentYear = dateNow.getFullYear();
      const currentMonth = dateNow.getMonth() + 1;

      //Days in current month
      function getDaysInMonth(year, month) {
        return new Date(year, month, 0).getDate();
      }
      const daysInCurrentMonth = getDaysInMonth(currentYear, currentMonth);

      //Get time now
      const timeFormat = dateNow.toLocaleString("en-US", {
        hour: "numeric",
        minute: "numeric",
        hour12: false,
      });

      //Check date now
      function checkDate(checkDurasi) {
        const durasi = parseInt(checkDurasi);

        if (currentDate + durasi > daysInCurrentMonth) {
          if (currentMonth == "12") {
            const yearNow = parseInt(currentYear) + 1;
            const monthNow = currentMonth - 12;
            const daysInNextMonth = getDaysInMonth(yearNow, monthNow + 1);
            const dateNow = currentDate + durasi - daysInCurrentMonth;
            return dateNow + "/" + (monthNow + 1) + "/" + yearNow;
          } else {
            const dateNow = currentDate + durasi - daysInCurrentMonth;
            const monthNow = currentMonth + 1;
            return dateNow + "/" + monthNow + "/" + currentYear;
          }
        } else {
          return currentDate + durasi + "/" + currentMonth + "/" + currentYear;
        }
      }

      //Check time now
      function checkTime() {
        const timeSubstringHour = parseInt(timeFormat.substring(-1, 2));
        const timeSubstringMinute = parseInt(timeFormat.substring(3));
        const durasi = timeSubstringHour + 6;
        if (timeSubstringHour > 17 && timeSubstringMinute > 1) {
          return (
            "0" +
            (durasi - 24).toString() +
            ":" +
            timeSubstringMinute.toString()
          );
        } else if (
          parseInt(timeFormat) > 3 &&
          timeSubstringMinute.toString().charAt(0) == 0
        ) {
          return durasi.toString() + ":0" + timeSubstringMinute.toString();
        } else if (parseInt(timeFormat) > 3) {
          return durasi.toString() + ":" + timeSubstringMinute.toString();
        } else if (
          timeFormat.charAt(0) == 0 &&
          timeSubstringMinute.toString().charAt(0) == 0
        ) {
          return (
            "0" + durasi.toString() + ":0" + timeSubstringMinute.toString()
          );
        } else if (timeFormat.charAt(0) == 0) {
          return "0" + durasi.toString() + ":" + timeSubstringMinute.toString();
        } else if (timeSubstringMinute.toString().charAt(0) == 0) {
          return durasi.toString() + ":0" + timeSubstringMinute.toString();
        } else {
          return durasi.toString() + ":" + timeSubstringMinute.toString();
        }
      }

      //Default waktu dan tanggal pesan
      window.onload = () => {
        document.getElementsByName("waktuPesan")[0].placeholder = timeFormat;
        document.getElementsByName("tglPesan")[0].placeholder = dateFormat;
      };

      //Default waktu dan tanggal pengambilan
      function checkDurasi(value) {
        if (parseInt(value) == 6) {
          document.getElementsByName("waktuPengambilan")[0].placeholder =
            checkTime();
          document.getElementsByName("tglPengambilan")[0].placeholder =
            dateFormat;
        } else {
          document.getElementsByName("waktuPengambilan")[0].placeholder =
            timeFormat;
          document.getElementsByName("tglPengambilan")[0].placeholder =
            checkDate(value);
        }
      }

      //Check paket optgroup label
      function checkOptgroupSelected() {
        let selected = document.querySelector(
          'select[name="paket"] option:checked'
        ).parentElement.label;

        //Change berat and meter
        const divBerat = document.getElementById("divBerat");
        const divMeter = document.getElementById("divMeter");

        if (selected == "Satuan") {
          divBerat.style.display = "none";
          divMeter.style.display = "block";
        } else {
          divBerat.style.display = "block";
          divMeter.style.display = "none";
        }
      }

      //Count harga
      function countHarga() {
        durasi = parseInt(durasiVal);
        paket = paketVal;
        berat = parseInt(beratval);
        meterOrbuah = parseInt(meterOrbuahVal);

        if (durasi == 6) {
          if (paket == "Cuci Basah") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 9000;
          } else if (paket == "Cuci Kering") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 10000;
          } else if (paket == "Cuci Kering Lipat") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 12000;
          } else if (paket == "Cuci Kering Setrika") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 14000;
          } else if (paket == "Setrika") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 11000;
          } else if (paket == "Gorden Tipis") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 11000;
          } else if (paket == "Gorden Tebal") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 16000;
          } else if (paket == "Selimut") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 40000;
          } else if (paket == "Bed Cover") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 50000;
          } else if (paket == "Jas") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 55000;
          } else {
            console.log("Did not choose anything");
          }
        } else if (durasi == 1) {
          if (paket == "Cuci Basah") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 7000;
          } else if (paket == "Cuci Kering") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 8000;
          } else if (paket == "Cuci Kering Lipat") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 9500;
          } else if (paket == "Cuci Kering Setrika") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 11000;
          } else if (paket == "Setrika") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 9000;
          } else if (paket == "Gorden Tipis") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 9000;
          } else if (paket == "Gorden Tebal") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 14000;
          } else if (paket == "Selimut") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 30000;
          } else if (paket == "Bed Cover") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 40000;
          } else if (paket == "Jas") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 45000;
          } else {
            console.log("Did not choose anything");
          }
        } else if (durasi == 2) {
          if (paket == "Cuci Basah") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 5000;
          } else if (paket == "Cuci Kering") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 6000;
          } else if (paket == "Cuci Kering Lipat") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 7000;
          } else if (paket == "Cuci Kering Setrika") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 8500;
          } else if (paket == "Setrika") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + berat * 7500;
          } else if (paket == "Gorden Tipis") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 7500;
          } else if (paket == "Gorden Tebal") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 12500;
          } else if (paket == "Selimut") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 20000;
          } else if (paket == "Bed Cover") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 30000;
          } else if (paket == "Jas") {
            document.getElementsByName("harga")[0].placeholder =
              "Rp. " + meterOrbuah * 35000;
          } else {
            console.log("Did not select paket");
          }
        } else {
          console.log("Did not select durasi");
        }
      }
    </script>
  </body>
</html>
